<!DOCTYPE html>

<html>

 <head>
     <title>help</title>
    <link rel="stylesheet"href="./css/style.css">
 </head>

 <body>
    <div class="main-content">
      {{>header}}
     <p>If you need any help please directly reach to {{name}}</p>
     </div>
     {{>footer}}
 </body>

</html>